# Backend
/src/AmarivAPI/.vs/
/src/AmarivAPI/bin/
/src/AmarivAPI/obj/

# Front end admin
/src/amariv-front-end/node_modules/
/src/amariv-front-end/.env

# Front end employee
/src/amariv-front-end-employee/node_modules/
/src/amariv-front-end-employee/.env